<div class="contenedor">
  <div class="contenedor_formulario">
    <h1 class="is-size-1">Subir Archivos a CloudStorage</h1>
    <P class="download" *ngIf="finalizado"> URL de Descarga <a href="{{URLPublica}}" target="_blank">Descargar</a></P>

    <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()" >
      <div class="file has-name is-boxed">
        <label class="file-label">
          <input type="file" class="file-input" name="resume" formControlName="archivo" (change)="cambioArchivo($event)">
          <span class="file-cta">
            <span class="file-label">
              Elegir un archivo...
            </span>
          </span>
          <span class="file-name">
           {{mensajeArchivo}}
          </span>
        </label>
      </div>
      <hr>
      <progress *ngIf="porcentaje > 0 && porcentaje < 100"
      class="progress is-large is-success"
      value="{{porcentaje}}" max="100" >{{porcentaje}}%</progress>
      <button [ngClass]="{'button': true, 'is-success':true, 'is-large': true, 'is-loading': porcentaje >0 && porcentaje < 100}"
        [disabled]="!archivoForm.valid" class="button is-success is-large">Subir Archivo</button>
    </form>
  </div>
</div>

<router-outlet></router-outlet>
